//desktop

@media(min-width: 1300px){
	body{

	}
}


//movil

@media (min-width: 481px) and (max-width: 768px){
	body{

	}	
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	
	background: #f12711;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto Slab', serif;
	max-width: 100vw;



}



article{
	height:5%;
	width:91%;
	margin-top: 5%;
	margin-left:4%;
	padding:2%;
	background:hsl(0, 0%, 95%);

}


ul{
	flex: 1;
	text-align: right;
	margin-right: 1%;
	padding: 1%;

}

ul li{
	display: inline-block;
	list-style: none;
	margin: 1%;
	padding:1%;
	color: #000;
	background:#FDC830;

	
	
	
}

ul li a{
	text-decoration: none;
	

}




img{
	
	width:22%;
	display: flex;
	float: right;
	margin-right: 3%;
}



.titulo{
	color:#000;
	display: inline-block;
	font-size: 140%;
	font-weight: bold;
	background: #FDC830;
	padding: 1%;
	font-family: 'Roboto Slab', serif;

}


.parrafo{
	color:#000;
	text-align: left;
	padding:5%;
	width:50%;
	height:150%;
	background: #F37335;
	margin-top:2%;
	font-family: 'Roboto Slab', serif;
}


i{
	font-size:150%;
	margin: 5%;
	padding: 10%;
}

.btn{
	background:#FDC830;
	margin-top: 3%;
	width:8%;

}